<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Congrats, You have been successfully signed up with Course Manager</h1>
<br>
<table>
  <thead>
  <tr>
    <th></th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
    <h>Welcome. Your account has been set up with us.</h>
  </tbody>
</table>
<br>
<p>If you have any queries / question please dont reply to this mail, this is an unmonitored e-mail address</p>
</body>
</html>