<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>A new student enrolled under you.</h1>
<br>
<table>
  <thead>
  <tr>
    <th></th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @course_name_array.each do |cart| %>
    <tr>
      <td><%= cart[0].name %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<p>If you have any queries / question please dont reply to this mail, this is unmonitored e-mail address</p>
</body>
</html>