<p id="notice"><%= notice %></p>

<h1>Listing Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Major</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @final_course.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.discipline %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

